<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/boostrap_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">

    <title> weatherapp </title>
  </head>
  <body>

  <div class="container">


<!--    search_bar end -->
    <div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="col-lg-8 grid-margin stretch-card">
              <!--    search_bar start-->
           <form action="" method="POST">
               {% csrf_token %}
              <div class="input-group">
        <input type="search" class="form-control rounded" name="city_add" placeholder="Search Another place " aria-label="Search"
          aria-describedby="search-addon" />
        <button type="submit" class="btn btn-outline-primary">search</button>
        </div>
                 </form>
         <!--    search_bar End -->
                <!--weather card-->
                <div class="card card-weather">
                    <div class="card-body">
                        <div class="weather-date-location">
                             <div class="weather-date-location">
                         <div class="city"><small>CITY :</small> {{weather.City}}  </div>


                        <div class="weather-data d-flex">
                            <div class="mr-auto">
                                <h4 class="display-3"> {{weather.temperature}} <span class="symbol">°</span>F</h4>
                            </div>
                        </div>
                             </div>
                            <p class="text-gray"> <span class="weather-date">{{weather.details}} </span> <span class="weather-location"> Sydney, Australia </span> </p>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div class="d-flex weakly-weather">
                              <div class="weakly-weather-item text-center">
<!--                                <p class="mb-1">  </p> <i class="mdi mdi-weather-pouring"></i>-->
                                  <img src="http://openweathermap.org/img/w/{{weather.icon}}.png" style="width:40px; height:40px">
                            </div>

                        </div>
                    </div>
                </div>
                <!--weather card ends-->
            </div>
        </div>
    </div>
</div>

  </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{%static 'js/jsfirst.js' %}" ></script>
    <script src="{%static 'js/jssecond.js' %}" ></script>
    <script src="{%static 'js/js3rd.js' %}" ></script>



  </body>
</html>